body {
  background-color: #f0efeb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide {
  display: none;
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 85%;
  height: 45px;
}

.nav .right {
  margin-top: -50px;
  width: auto;
}

.nav .cart-box {
  background-color: #e2711d;
  border-radius: 1rem;
  width: 3rem;
  height: 1.3rem;
  padding: 5px;
  padding-left: 9px;
  padding-right: -6px;
  margin-top: -5px;
  margin-left: 4px;
}
.nav .left {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.nav .right {
  margin-top: 1px;
  display: flex;
  align-items: center;
}

.nav .right ul {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  font-size: 1.1rem;
  list-style-type: none;
  transition: all 0.2s;
}
.nav ul li:hover {
  margin: 0px 4px;
  text-decoration: underline;
}

.nav .cart-logo {
  width: 1.2rem;
}

.nav .logo-pic {
  width: 3rem;
}

.nav .left .logoname {
  margin-left: 3px;
  font-weight: 800;
  font-size: 1.7rem;
  font-family: cursive;
  color: #e2711d;
}

/* Home */
.home-box {
  margin: auto;
  margin-top: 4rem;
  width: 75%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.home-box-left {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}

.home-box-left .home-text {
  color: rgb(78, 77, 77);
  margin-left: 6px;
  font-size: 1.4rem;
}

.home-box-left .home-title {
  margin-top: -1rem;
  font-size: 4rem;
}

.home-box-left .lorem {
  margin-top: -2rem;
  width: 38rem;
  color: rgb(78, 78, 78);
}

.home-box-left button {
  background-color: #e2711d;
  color: white;
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.home-box-left button:hover {
  cursor: pointer;
  border: 2px solid orangered;
  background-color: #f0efeb;
  color: orangered;
}
.home-box-right {
  width: 43%;
  flex: 1;
}

.home-box-right img {
  margin-top: 3rem;
  width: 26rem;
  transition: all 0.6s ease-in-out;
}

.home-box-right img:hover {
  transform: rotate(90deg);
  margin-top: 2.5rem;
}
/* Products */
.productscomponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  height: 50rem;
  width: 90%;
}

/*  Product */

.card .head .pizza-pic {
  width: 11rem;
  flex-wrap: wrap;
  border-radius: 50%;
  margin-bottom: -0.5rem;
  transition: all 0.5s ease-in-out;
}
.card:hover .head .pizza-pic {
  width: 11.7rem;
}

.card .head img {
  transition: all 0.5s ease-in-out;
}

.card:hover .head img {
  transform: rotate(90deg);
}

.head span {
  width: 14px;
  font-weight: 500;
  background-color: #e2711d;
  padding: 4px 6px;
  border-radius: 0.8rem;
}

.card {
  color: black !important;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  margin-top: 180px;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 15rem;
  float: left;
  background-color: #e2711d;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 1px 0px 20px #404244;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 6px;
}

.footer .active-btn {
  cursor: pointer;
  width: 4rem;
  background-color: black;
  color: #fca311;
  border-radius: 1rem;
  border: none;
  font-weight: 900;
  padding: 3px 7px;
}

.footer .inactive-btn {
  cursor: pointer;
  width: 4rem;
  background-color: #fca311;
  border-radius: 1rem;
  border: none;
  font-weight: 900;
  padding: 3px 7px;
}

/* SINGLE PRODUCT PAGE */

.back {
  margin-top: 5rem;
  margin-left: 5.3rem;
  background-color: #e2711d;
  border: none;
  color: white;
  width: 7rem;
  padding: 5px 10px;
  height: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.back:hover {
  color: #e2711d;
  background-color: white;
}

.single {
  background-image: url(https://t3.ftcdn.net/jpg/04/80/84/74/360_F_480847426_fNrAJlMmPo2NatgPavNP20As6kEW9tsW.jpg);
  width: 52%;
  margin-left: 4rem;
  border: #e2711d 23px solid;
  border-radius: 3rem;
  height: 54vh;
  background-size: contain;
  margin-top: 4rem;
  display: flex;
}

.single .singleleft {
  align-items: center;
  position: relative;
  flex: 2;
  display: flex;
  justify-content: center;
}
.single .singleright {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single .singleleft img {
  border-radius: 3rem;
  width: 75%;
  height: 100%;
  margin-left: -8.3rem;
}

.singletitle {
  margin-bottom: 7rem;
  font-weight: 700;
  font-size: 2rem;
}
.singlesize {
  margin-top: -7rem;
}

.singleprice {
  color: rgb(82, 80, 80);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.singleright button {
  background-color: #e2711d;
  border: none;
  color: white;
  width: 7rem;
  padding: 5px 10px;
  height: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.singleright button:hover {
  color: #e2711d;
  background-color: white;
}

/* cart */
.cart-component {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
}
.cart-head {
  margin-bottom: 3rem;
  margin-left: 0.5rem;
}
.cart {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.carttitle {
  font-size: 1.2rem;
}

.cartpic {
  width: 4rem;
  margin-right: 12px;
}

.cart-left {
  display: flex;
  align-items: center;
}

.cart-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-middle button {
  font-weight: 800;
  font-size: 0.8rem;
  margin: 0px 10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: #e2711d;
  transition: all 0.3s;
}
.cart-middle button:hover {
  background-color: white;
  color: #e2711d;
}

.cartdelete {
  background-color: red;
  border: none;
  color: white;
  width: 5rem;
  padding: 5px 10px;
  height: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.cartdelete:hover {
  background-color: white;
  color: red;
}

.cart-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  list-style: none;
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: end;
}

.order-btn {
  background-color: #e2711d;
  border: none;
  color: white;
  width: 6rem;
  padding: 5px 10px;
  height: 2rem;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.order-btn-div {
  display: flex;
  justify-content: end;
}
.cart-total .grand {
  font-size: 1.2rem;
}
.empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-cart {
  margin-top: 4rem;
  align-items: center;
  width: 40rem;
  opacity: 0.2;
}

hr {
  color: black;
  border: 2px;
}
